<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <link href="http://fonts.cdnfonts.com/css/cpmonov07" rel="stylesheet">
        <title>{{viewTitle}}</title>
    </head>
    <body>
        <div class="ui two column centered grid">
            <div class="column">
                <div class="ui header" style="margin-top: 20px; font-family: 'CPMono_v07 ExtraLight', sans-serif; font-size: 30px">Offers management</div>
                <div class="ui menu">
                    <a class="item">Offers list</a>
                </div>
                {{{body}}}
                <div class="ui footer center aligned grid" style="margin-top: 20px; font-family: 'CPMono_v07 ExtraLight', sans-serif; font-size: 13px">(c) Stone Force Media 2021</div>
            </div>
        </div>
    </body>
</html>
